---
import CharButton from "../../components/CharButton.astro";
import ContactButton from "../../components/ContactButton.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import "../../styles/global.css";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    /*return [
        {
            params: {
                pluh: "sun",
            },
            props: { title: "uhh" },
        },
    ];*/

    const posts = await getCollection("gallery");
    // console.log(posts);

    return posts.map((a) => {
        return {
            params: {
                pluh: a.id,
            },
            props: {
                data: a.data,
            },
        };
    });
}

const { data } = Astro.props;
const id = Astro.params.pluh;

var links = data.link || [];
var featured = data.feat || [];
//console.log(data);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{data.title + " - betopia's museum"}</title>

        <meta
            content={data.title + " - betopia's museum"}
            property="og:title"
        />
        <meta
            content={data.desc || "(no description provided)"}
            property="og:description"
        />
        <meta
            content={"/images/gallery/" + id + "." + (data.extension || "png")}
            property="og:image"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta content="#996666" data-react-helmet="true" name="theme-color" />
        <style>
            .container {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: center;
                max-width: fit-content;
            }
        </style>
    </head>
    <Header />
    <body>
        <div style="margin: 23px;">
            <div class="board">
                <h1>{data.title}</h1>{data.from}
                <br /><br />
                <div class="sub-board" style="margin: auto">
                    <img
                        src={"/images/gallery/" +
                            id +
                            "." +
                            (data.extension || "png")}
                        style="border-radius: 10px; max-width: 100%;"
                    />
                </div>
                <br />
                <p set:html={data.desc} />
                <br />
                <h2 style="text-align: center;">
                    {featured.length > 0 ? "featured characters:" : ""}
                </h2>
                <div class="container" style="gap: 24px">
                    {
                        featured.map((b) => (
                            <CharButton
                                size={200}
                                char={b.name}
                                color={b.color}
                                outline={b.outline}
                            />
                        ))
                    }
                </div>
                <br />
                <div class="container">
                    see it on:
                    {
                        links.map((a) => (
                            <ContactButton
                                size="60"
                                image={a[0]}
                                name={a[0]}
                                link={a[1]}
                            />
                        ))
                    }
                    <a
                        target="_blank"
                        href={"/images/gallery/" +
                            id +
                            "." +
                            (data.extension || "png")}
                        ><button>direct</button></a
                    >
                </div>
            </div>
        </div>
    </body>
    <Footer />
</html>
