---
// Component Imports
import CharButton from "../components/CharButton.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const buttonsize = 222;
const columns = 4;
const categories = [
	{
		name: "main characters",
		desc: 'the characters i\'ll probably put on the spotlight often, expect a lot of content with them.\n<br>\n<span style="font-size: 17px; color: var(--col-dim);">and with a lot, i mean, a <i>lot.</i> :3</span>',
		chars: [
			{ name: "betpo", color: "#f63", outline: "#fffaf4" },
			{ name: "josephine", color: "#f36", outline: "#e5f7eb" },
		],
	},
	{
		name: "other characters",
		desc: "the characters i have that i don't use a lot, and/or have little to no importance or whatever.",
		chars: [
			{ name: "marco", color: "#c33", outline: "#ffc" },
			{ name: "fish", color: "#f66", outline: "#ffc" },
			{ name: "kinne", color: "#ffd16d", outline: "#fffebf" },
			{ name: "nori", color: "#cf6", outline: "#ffc" },
			{ name: "sprout", color: "#093", outline: "#f2ffe7" },
			{ name: "carlos", color: "#69f", outline: "#cff" },
			{ name: "charles", color: "#60f", outline: "#cfc" },
			{ name: "glib", color: "#90f", outline: "#ffc" },
			{ name: "jasmine", color: "#636", outline: "#f8ffdf" },
			{ name: "haven", color: "#c69", outline: "#e9ffcc" },
		],
	},
	{
		name: "daniel",
		desc: "daniel",
		chars: [{ name: "daniel", color: "#8b56a3", outline: "#f1ffe1" }],
	},
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta content="characters - betopia" property="og:title" />
		<meta
			content="the characters i own, if you wanna see them. [more info on full page]"
			property="og:description"
		/>
		<meta content="/characters/betty/art.png" property="og:image" />
		<meta content="#996666" data-react-helmet="true" name="theme-color" />

		<style>
			.container {
				align-items: center;
				justify-content: center;
				text-align: center;
				display: inline-block;
			}

			.square {
				background-color: currentColor;
				width: 1rem;
				height: 1rem;
				aspect-ratio: 1 / 1;
				border-radius: 0.25rem;
				margin-right: 0.333rem;
			}
		</style>
		<title>betopia's basement</title>
	</head>
	<Header />
	<body>
		<div style="margin: 23px; overflow-x: hidden">
			<div class="board">
				<h1>
					<span style="font-weight: normal;">👥</span> character storage
				</h1>
				<br />
				ahh... the page that started it all... it's so awesome...
				<br /><br />
				anyways, this is where i keep my <b
					>original character information</b
				>; now with the ability to update anytime i want, without having
				to delete and remake the same tweet over and over again. cool,
				am i right?
				<br /><br /><br />
				<div style="text-align: center;">
					<h3 style="color: var(--col-bright);">
						search for a character id:
					</h3>
					(if you are lazy to scroll down)<br />
					<input type="text" placeholder="betty" id="iput" />
					<button
						onclick="var char = document.getElementById('iput').value.toLowerCase(); window.location.href = char != '' ? '/characters/' + char : '/characters/betty'"
						>go</button
					>
				</div>
				<br /><br />
				or choose from below:

				<br /><br />
				{
					categories.map((a, b) => (
						<div
							class="sub-board"
							style="margin-bottom: 23px; width: calc(100% - 80px);"
						>
							<h1 style="color: var(--col-bright);">{a.name}</h1>
							<p
								set:html={
									a.desc
									/*.replace(";", "")
									.replace("&lt", ">")
									.replace("&gt", "<")
									.replace("&amp", "&")*/
								}
							/>
							<br />
							<div
								style={
									"text-align: center; max-width: " +
									buttonsize * (columns + 1) +
									"px; margin: auto;"
								}
							>
								{a.chars.map((b) => (
									<div style="display: inline-block;margin: 5px;">
										<CharButton
											size={buttonsize}
											char={b.name}
											color={b.color}
											outline={b.outline}
										/>
									</div>
								))}
							</div>
						</div>
					))
				}
				i'll add more eventually...
			</div>
		</div>
	</body>
</html>
<Footer />
