---
import "../styles/global.css";
import Page from "../components/Page.astro";
import Window from "../components/Window.astro";

var chars = [];

var temp = import.meta.glob("../../public/characters/*/data.json", {
    eager: true,
});

var tmp2 = new Map();
for (const k of Object.keys(temp)) {
    var index = k.split("/").at(-2);
    //console.log(index);
    tmp2[index] = temp[k];
}

//console.log(tmp2);

for (var k in tmp2) {
    chars.push(k);
    if (tmp2[k].page.height === undefined) {
        console.warn("bro youre missing stuff (" + k + ")");
    }
}
---

<meta content="characters - betopia" property="og:title" />
<meta
    content="the characters i own, if you wanna see them. [more info on full page]"
    property="og:description"
/>
<meta content="/images/charbox.png" property="og:image" />
<meta name="twitter:card" content="summary_large_image" />
<meta content="#996666" data-react-helmet="true" name="theme-color" />

<Page title="betopia's basement" logo={false}>
    <style>
        .the-guys {
            z-index: 0;
        }
        .this-cant-be-real {
            --z: 0;
            --depth: 0px;
            --color1: var(#777);
            --color2: var(#ccc);
            transition:
                0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) translate,
                0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) filter;
            z-index: var(--z);
        }
        .this-cant-be-real:hover {
            --depth: 10px;
            translate: 0px -10.5px;
            filter: drop-shadow(0 var(--depth) 0px var(--color1))
                drop-shadow(0px 0px calc(var(--depth) * 0.5) var(--color2))
                drop-shadow(0px 0px calc(var(--depth) * 0.5) var(--color2))
                drop-shadow(0px 0px calc(var(--depth) * 1) var(--color2));
            z-index: 500;
        }
        @keyframes scroll {
            0% {
                transform: translateX(-25%);
            }
            100% {
                transform: translateX(-50%);
            }
        }

        @media screen and (max-width: 1200px) {
            .the-guys {
                transform: scale(70%);
            }
            #bruhhh.dynamic-direction {
                text-align: center;
                justify-content: center;
                align-items: center;
                gap: 48px;
            }
            div.bar {
                display: none !important;
            }
        }
    </style>
    {
        /* --------------------------------------------------------------------- */
    }

    <div
        x-data="{showWindow: false}"
        style="text-align: center; padding: 20px; background-color: var(--col-main);"
    >
        <div
            style="display: flex; flex-direction: column; gap: 24px; height: calc(100vh - 4.5em);"
        >
            <div
                id="bruhhh"
                class="container dynamic-direction"
                style="display: flex; width: 100%; align-items: center; justify-content: center; gap: 24px;"
            >
                <div style="display: flex; gap: 24px; align-items: center;">
                    <button
                        x-on:click="showWindow = true;"
                        style="margin: 0; height: fit-content;">❔</button
                    >
                    <button
                        x-on:click="navigate('/characters/extras/')"
                        style="margin: 0;  height: fit-content;">📙</button
                    >

                    <div
                        style="width: 4px; height: 40px; border-radius: 2px; background-color: var(--col-dim);"
                    >
                    </div>
                    <div style="text-align: left;">
                        <h2 style="margin: 0; padding: 0;">characters</h2>
                        look at them! my babies... they started this site...
                    </div>
                </div>
                <div
                    class="bar"
                    style="width: 4px; height: 50px; border-radius: 2px; background-color: var(--col-dim);"
                >
                </div>
                <div
                    style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 8px;"
                >
                    <span style="text-align: left;">search by page id:</span>
                    <input
                        id="text-input"
                        type="text"
                        placeholder="betty"
                        style="margin: 0;"
                    />
                    <button
                        style="margin: 0;"
                        x-on:click="
                        navigate('/characters/' + (
                            document.getElementById('text-input').value.length > 0
                            ? document.getElementById('text-input').value
                            : 'betty'
                        .toLowerCase().trim()))"
                        >🔍</button
                    >
                    <button
                        style="margin: 0;"
                        x-on:click="navigate('/characters/random')">🎲</button
                    >
                    <script is:inline>
                        var txt = document.getElementById("text-input");
                        txt.addEventListener(
                            "drop",
                            function (event) {
                                if (event.dataTransfer) {
                                    var types = event.dataTransfer.types;
                                    if (types.indexOf("Files") !== -1) {
                                        console.log("this is a file");
                                        var val = event.dataTransfer
                                            .getData("text/plain")
                                            .split("/")
                                            .at(-2);
                                        txt.value = val;
                                        event.preventDefault();
                                    }
                                }
                            },
                            false,
                        );
                    </script>
                </div>
            </div>

            <div
                style="flex: 1; border-radius: 20px; overflow: hidden auto; border: 5px solid var(--col-dark); background: linear-gradient(to bottom, #fff, #ffebf5)"
            >
                <div class="the-guys" style="height: 100%; position: relative;">
                    <div style="
                        pointer-events: none;">
                        <img
                            loading="lazy"
                            src="/images/pages/characters/stupid ahh platform.svg"
                            style="
                        pointer-events: none;
                        position: absolute; top: 267px; left: 50%;
                        transform: translateX(calc(-50% + 50px))
                        translateY(calc(-50% + 630px)) scale(66%);
                        "
                        />
                        <img
                            loading="lazy"
                            src="/images/pages/characters/couch.png"
                            style="
                        pointer-events: none;
                        position: absolute; top: 267px; left: 50%;
                        transform: translateX(calc(-50% - 10px))
                        translateY(calc(-50% - 70px)) scale(66%);
                        "
                        />
                        <div
                            style="
                            width: 400%;
                            height: 444px;
                        pointer-events: none;
                        position: absolute; top: 1250px; left: 0px;
                        background-image: url('/images/pages/characters/betty-thinking-tile.png');
                        transform: translateX(-25%);
                        z-index: 1; animation: 50s cubic-bezier(0.56, 0.29, 0.4, 0.74) 1s infinite alternate scroll;
                        "
                        >
                        </div>
                    </div>
                    {
                        chars.map((a, b) =>
                            (tmp2[a].page.hide ?? false) ? (
                                ""
                            ) : (
                                <img
                                    data-name={a}
                                    alt={tmp2[a].page?.display ?? a}
                                    title={tmp2[a].page?.display ?? a}
                                    class="this-cant-be-real"
                                    style={`
                                    
                                    cursor: pointer;
                                    position: absolute; top: 267px; left: 50%;
                                    transform: translateX(calc(-50% + ${tmp2[a].page.x}px))
                                    translateY(calc(-50% + ${tmp2[a].page.y}px)) scale(66%);
                                    --color1: ${tmp2[a].button.color}; --color2: ${tmp2[a].button.outline};
                                    --z: ${tmp2[a].page.z ?? 0};`}
                                    src={`/characters/${a}/page.png`}
                                    x-on:click="loading = true;"
                                    onclick={`navigate('/characters/${a}/');`}
                                    loading="lazy"
                                />
                            ),
                        )
                    }
                </div>
            </div>
        </div>
        <div
            x-show="showWindow"
            x-cloak="!showWindow"
            style="z-index: 999999; text-align: left;"
        >
            <Window title="characters page" onClose="showWindow = false;">
                <h2>navigation help</h2>
                at the top you'll see the search bar, which really only exists if
                <br />you prefer to type character names instead of clicking on
                them.
                <br />
                <br />alternatively, if you're even lazier than that, just drag
                their
                <br />image into the search box! <i
                    style="color: var(--col-light);">(desktop only)</i
                >
                <br /><br />
                <h2>regarding optimization</h2>
                i tried my hardest to make this page as lightweight as possible but...
                nothing's working :(
                <br />this page might not render great in low-end devices so uhh
                watch out!
                <br /><br />
                for now, have a <a href="/characters/low-quality/"
                    >low quality mode</a
                > of this same page, with only buttons
            </Window>
        </div>
    </div>
</Page>
