---
// Component Imports
import "../styles/global.css";
import { Spa } from "astro-spa";
import Page from "../components/Page.astro";
import Window from "../components/Window.astro";
import HeaderLogo from "../components/HeaderLogo.astro";
import _package from "../../package.json";
import CharButton from "../components/CharButton.astro";

function getOptionType(a: any) {
    switch (typeof a) {
        case "boolean":
            return "checkbox";
    }
    return "text";
}

const overrideFont = "Lucida Sans";
---

<meta content="betopia" property="og:title" />
<meta content="your trash can as a human lifeform." property="og:description" />
<meta content="/images/eepy.png" property="og:image" />
<meta content="#996666" data-react-helmet="true" name="theme-color" />
<Page>
    <meta content="viewport" property="width=device-width" />

    <style>
        table,
        td {
            background: none;
            box-shadow: none;
            margin: 0;
            padding: 4px;
        }
        td.name {
            color: var(--col-dark);
            font-weight: 800;
            padding-right: 50px;
        }
        .f-el {
            color: #f36;
        }
        .f-vl {
            color: #cf6;
        }
        .about-thing {
            background-image: linear-gradient(
                to bottom,
                rgb(
                    from var(--col-light) calc(r * 1.3) calc(g * 1.3)
                        calc(b * 1.3)
                ),
                var(--col-light) 45%,
                rgb(from var(--col-light) calc(r - 8) calc(g - 16) calc(b - 8))
                    55%,
                var(--col-light)
            );
            border-radius: 20px;
            box-shadow: 0px 4px 2px 1px var(--col-dim);
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        .about-thing h1 {
            text-shadow: 0px 5px 5px
                rgb(
                    from var(--col-light) calc(r - 32) calc(g - 64) calc(b - 32)
                );
        }
    </style>
    <div x-data="{displayedWindow: null}">
        <div>
            {
                [
                    {
                        name: "README",
                        icon: "📄",
                        click: "displayedWindow = 'read'",
                        light: ".md",
                    },
                    {
                        name: "about",
                        icon: "📙",
                        click: "displayedWindow = 'about'",
                        light: "",
                    },
                    {
                        name: "settings",
                        icon: "⚙",
                        click: "displayedWindow = 'settings'",
                        light: "",
                    },

                    { name: "characters", icon: "👨‍👩‍👧‍👦" },
                    { name: "gallery", icon: "🎨" },
                    { name: "projects", icon: "📦" },
                    { name: "fun", icon: "🃏" },
                    { name: "blog", icon: "📰" },
                    { name: "contact", icon: "📫" },
                ].map((a) => (
                    <button
                        style="background: none; box-shadow: none; color: var(--col-bright); font-size: 14px; text-align: center;"
                        x-on:click={a.click ?? `navigate('/${a.name}/')`}
                    >
                        <span style="font-size: 24px;">{a.icon}</span>
                        <br />
                        <br />
                        {a.name}
                        <span style="color: var(--col-light);">
                            {a.light ?? " ↗"}
                        </span>
                    </button>
                ))
            }
        </div>
        <div
            x-show="displayedWindow == 'read'"
            x-cloak="displayedWindow != 'read'"
        >
            <Window
                title="README.md"
                bgColor="var(--col-dim)"
                onClose="displayedWindow = null"
            >
                <img src="/images/warn.png" style="float: right;" />
                <h2 style="color: #f36;">⚠ content warnings</h2>
                this site is <i>safe for work</i>, but i feel like you should be <b
                    style="color: #f36;">15+</b
                > to enter.
                <br />if you aren't then uhmm i suggest you leave!!! it
                contains:
                <ul>
                    <li>constant swearing</li>
                    <li>lots of women. i love women (and men)</li>
                    <li>
                        possible bright colors that might trigger sensitive
                        people
                    </li>
                    <li>self-loathing</li>
                </ul>
                don't say i didn't warn you.
                <hr style="background-color: var(--col-bright);" />
                to navigate this site, you have the &hearts; at the top.
                <br />click on it, and options will show up
                <br /><br />exclusive to this <span
                    style="color: var(--col-light);">index</span
                > page, there's these icons in the desktop
                <br /><br />
                only <button
                    style="--col: var(--col-light); padding: 0; margin: 0; background: none; box-shadow: none; box-shadow: none; text-decoration:wavy underline 3px;"
                    x-on:click="displayedWindow = 'about'">about</button
                > can be opened here because.. i'm lazy lmao
            </Window>
        </div>
        <div
            x-show="displayedWindow == 'about'"
            x-cloak="displayedWindow != 'about'"
        >
            <Window title="about" onClose="displayedWindow = null">
                <div style="margin: auto; max-width: 45rem;">
                    <div
                        style="
                        --header-logo-color-1: var(--col-bright);
                        --header-logo-color-2: var(--col-dark);
                        z-index: 999; display: flex; justify-content: space-between; align-items: center;"
                    >
                        <HeaderLogo absScale={0.5} />
                        <a href="https://betpowo.github.io" target="_blank">
                            <img
                                src="https://betpowo.github.io/website-stamp.gif"
                                title="betpowo.github.io"
                            />
                        </a>
                        <p style="text-align: right;">
                            <span
                                style="font-family: Arial, Helvetica, sans-serif;"
                            >
                                <b>/ bət oʊ piə /</b> &bull; noun
                            </span><br />your trash can as a human lifeform!
                        </p>
                    </div>
                    <hr />
                    <table>
                        <tr>
                            <td class="name">web. version</td>
                            <td>{_package.version}</td>
                        </tr>
                        <tr>
                            <td class="name">built with</td>
                            <td id="iHateAstro"
                                ><a href="https://astro.build" target="_blank"
                                    >{Astro.generator}</a
                                > + <a
                                    href="https://alpinejs.dev"
                                    target="_blank">alpine.js</a
                                > + laziness + love..!</td
                            >
                        </tr>
                        <tr>
                            <td class="name">stamp code</td>
                            <td
                                ><code
                                    class="sub-board language-html"
                                    style="display:inline-block;margin: 0; font-size: 14px;text-align: left; width: fit-content;"
                                >
                                    &lt;<span class="f-el">a</span> href=<span
                                        class="f-vl"
                                        >"https:{"//"}betpowo.github.io"</span
                                    > target=<span class="f-vl">"_blank"</span
                                    >&gt;
                                    <br />&nbsp; &Tab; &lt;<span class="f-el"
                                        >img</span
                                    > src=<span class="f-vl"
                                        >"https:{
                                            "//"
                                        }betpowo.github.io/website-stamp.gif"</span
                                    > title=<span class="f-vl"
                                        >"betpowo.github.io"</span
                                    >/&gt;
                                    <br />&lt;/<span class="f-el">a</span>&gt;
                                </code></td
                            >
                        </tr>
                    </table>
                    <hr /><br />
                    <h2>about the webmaster</h2>
                    hi... i'm betty.... and i do things.... yeah.
                    <br /><br />i am currently stuck in the living hell that is
                    &half; of my nationality... venezuela :(
                    <br />yeahh i'm not from the usa if you didn't know that
                    already. either way the world sucks
                    <br /><br />
                    <h2>things i like to do</h2>
                    i am passionate about making things i love! like art, coding,
                    music (i suck at this) and maybe more...
                    <br /><br />to make it easier to tell, i make:
                    <br /><br />
                    <div class="about-thing">
                        <h1>characters</h1>
                        <div
                            style="display: flex; flex-flow: wrap row; justify-content: right; gap: 12px;"
                        >
                            {
                                ["betty", "daniel", "betpo", "josephine"].map(
                                    (a) => (
                                        <CharButton size={80} character={a} />
                                    ),
                                )
                            }
                            <button
                                style="width: 80px; height: 80px;
                                display: flex; align-items: center; justify-content: center;
                                margin: 0; border-radius: 20px;"
                                onclick="navigate('/characters')"
                                >more &rightarrow;</button
                            >
                        </div>
                    </div>
                    <br />
                    <div
                        class="about-thing"
                        style="flex-direction: row-reverse;"
                    >
                        <h1>art</h1>
                        <div
                            style="display: flex; flex-flow: wrap row; align-items: right; gap: 12px;"
                        >
                            <button
                                style="width: 80px; height: 80px;
                                display: flex; align-items: center; justify-content: center;
                                margin: 0; border-radius: 20px;"
                                onclick="navigate('/gallery')"
                                >more &leftarrow;</button
                            >
                            {
                                [
                                    { f: "daniel" },
                                    { f: "funkin" },
                                    { f: "spooky", e: "gif" },
                                    { f: "new-year" },
                                    { f: "sun" },
                                ].map((a) => (
                                    <button
                                        style="width: min-content; height: 80px;
                                        display: flex; align-items: center; justify-content: center;
                                        margin: 0; padding: 0; border-radius: 20px; overflow: hidden;"
                                        onclick={
                                            "navigate('/gallery/" + a.f + "')"
                                        }
                                    >
                                        <img
                                            height="80"
                                            src={
                                                "/images/gallery/" +
                                                a.f +
                                                "." +
                                                (a.e ?? "png")
                                            }
                                        />
                                    </button>
                                ))
                            }
                        </div>
                    </div>
                    <br />
                    <div class="about-thing">
                        <h1>projects</h1>
                        <button
                            style="width: 240px; height: 80px;
                                display: flex; align-items: center; justify-content: center;
                                margin: 0; border-radius: 20px; font-size: 30px;"
                            onclick="navigate('/projects')"
                            >view all &rightarrow;</button
                        >
                    </div>
                    <br />and that's rlly all there is to me... i'm boring but i
                    am creative... i am cringe but i am free... yknow
                    <br /><br />i'll keep creating for the sake of passion and
                    those who look up to me 🤎
                    <br /><br />
                    <hr /><br />
                    <h2>what i (normally) use</h2>
                    uhhhhhh i use these {
                        [
                            "animate",
                            "haxeflixel",
                            "godot",
                            "fl",
                            "krita",
                            "medibang",
                        ].map((a, idx) => (
                            <img
                                src={"/images/icons/" + a + ".png"}
                                width="75"
                            />
                        ))
                    } in that order of frequency. yeah
                    <br /><hr /><br />
                    <h1>
                        I LOVE <a href="https://skruyo.dev/" target="_blank"
                            >daniel</a
                        > !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    </h1>
                    <img src="/images/kiss.gif" />
                    <br /><hr /><br />
                    <img src="/images/css.gif" />
                </div>
            </Window>
        </div>
        <div
            x-show="displayedWindow ==  'settings'"
            x-cloak="displayedWindow != 'settings'"
        >
            <Window
                title="settings <span style='color: #f36'>(local storage)</span>"
                onClose="displayedWindow = null"
            >
                <div style="display: flex; flex-direction: column; gap: 48px;">
                    {
                        [
                            {
                                id: "noSpa",
                                name: "force reload",
                                desc: `if checked, will fully reload the page instead of smoothly transitioning to the next, if supported`,
                                default: false,
                            },
                            {
                                id: "defaultLQ",
                                name: "low quality view as default",
                                desc: "when going to characters page, enabling this will show a more low-end device-friendly version of the page",
                                default: false,
                            },
                            {
                                id: "sans",
                                name: "font override",
                                desc: `if font is hard to read, replace it with <span style="font-family: '${overrideFont}';">${overrideFont}</span> (if available) <span style="color: var(--col-light);">(requires refresh)</span>`,
                                default: false,
                            },
                        ].map((a) => (
                            <div style="display: flex; flex-direction: row; gap: 24px; align-items: center;">
                                <input
                                    type={getOptionType(a.default)}
                                    style={
                                        getOptionType(a.default) == "checkbox"
                                            ? "scale: 3;"
                                            : ""
                                    }
                                    x-bind:checked={
                                        `localStorage.getItem('${a.id}') == 'true'` // whyyy
                                    }
                                    oninput={
                                        "localStorage.setItem('" +
                                        a.id +
                                        "', this.type == 'checkbox' ? this.checked : this.value);"
                                    }
                                />
                                <div>
                                    <h3 style="color: var(--col-light);">
                                        {a.name ?? a.id}
                                    </h3>
                                    <Fragment set:html={a.desc} />
                                </div>
                            </div>
                        ))
                    }
                </div>
            </Window>
        </div>
    </div>
</Page>
