---
export const prerender = false;

import CharSheet from "../components/CharSheet.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
var sheetID = Astro.url.searchParams.get("sheet") || "sheet";
var cols = frontmatter.icon_colors ?? ["#996666", "#662244", "#ffffcc"];
const iconColors = {
    main: cols[0],
    dark: cols[1],
    white: cols[2],
};
// console.log(iconColors);

const iconData =
    "data:image/svg+xml," +
    "%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:ffdec='https://www.free-decompiler.com/flash' xmlns:xlink='http://www.w3.org/1999/xlink' ffdec:objectType='frame' height='291.7px' width='291.7px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='matrix(1.0, 0.0, 0.0, 1.0, 39.7, 65.3)'%3E%3Cuse ffdec:characterId='48' height='291.7' transform='matrix(1.0, 0.0, 0.0, 1.0, -39.7, -65.3)' width='291.7' xlink:href='%23shape0'/%3E%3C/g%3E%3Cdefs%3E%3Cg id='shape0' transform='matrix(1.0, 0.0, 0.0, 1.0, 39.7, 65.3)'%3E%3Cpath d='M-17.85 -65.3 L230.15 -65.3 Q252.0 -65.3 252.0 -43.45 L252.0 204.55 Q252.0 226.4 230.15 226.4 L-17.85 226.4 Q-39.7 226.4 -39.7 204.55 L-39.7 -43.45 Q-39.7 -65.3 -17.85 -65.3' fill='%23996666' fill-rule='evenodd' stroke='none'/%3E%3Cpath d='M64.95 155.1 L46.5 138.85 Q35.7 129.3 28.75 121.8 9.3 101.0 2.85 79.25 0.0 69.65 0.0 61.3 0.05 53.65 2.6 44.5 6.95 29.15 15.95 18.8 26.0 7.35 40.9 2.4 48.0 0.15 54.9 0.0 62.3 -0.2 68.7 2.1 76.2 4.85 85.85 12.95 96.85 21.9 103.15 30.45 109.9 39.6 112.2 49.2 118.95 42.1 129.25 37.6 139.0 33.3 153.0 31.0 165.4 28.9 173.3 30.25 179.95 31.45 186.3 35.35 192.2 38.9 197.25 44.4 207.7 56.1 210.6 71.05 213.25 84.5 209.35 100.0 207.0 109.2 203.15 115.85 199.0 123.1 191.75 130.0 175.25 145.55 148.1 153.85 138.3 156.85 124.1 159.75 L100.0 164.6 94.35 165.4 91.05 166.3 87.2 167.2 Q84.2 167.5 81.05 166.5 78.15 165.6 75.5 163.65 73.2 162.1 70.8 159.4 68.3 158.15 64.95 155.1 M111.7 56.8 L110.35 56.7 Q109.2 56.75 108.7 56.1 108.25 55.65 108.3 54.95 106.15 52.65 103.15 48.6 L97.5 41.4 Q94.75 38.35 89.25 33.65 79.55 25.45 71.75 21.45 61.35 16.15 51.75 16.65 43.95 17.1 36.7 21.3 29.55 25.4 24.5 32.1 19.6 38.75 17.3 47.1 15.0 55.35 15.6 63.75 16.9 84.1 34.8 105.05 42.6 114.25 54.6 124.95 61.6 131.25 75.85 143.3 L77.45 144.8 82.95 149.5 85.3 151.1 Q85.4 151.0 85.6 151.0 L88.8 150.75 91.7 150.15 92.1 150.1 Q93.85 149.45 96.45 148.95 L124.05 143.65 Q139.8 140.4 151.2 136.3 177.15 127.15 188.5 110.2 193.2 103.2 195.3 94.95 197.5 86.5 196.55 78.3 195.55 69.95 191.4 62.85 187.2 55.55 180.65 51.3 172.6 46.1 160.95 45.5 152.2 45.0 139.7 47.3 132.6 48.6 128.7 49.9 126.1 50.7 120.25 53.25 L112.45 56.25 111.7 56.8' fill='%23662244' fill-rule='evenodd' stroke='none'/%3E%3Cpath d='M173.15 79.35 Q172.45 81.15 170.05 82.95 167.45 84.8 165.6 84.85 163.55 84.95 162.05 83.3 160.5 81.6 160.7 79.6 160.9 78.3 161.6 77.7 162.0 77.3 162.55 77.2 L163.55 77.35 Q164.25 77.75 164.65 79.3 165.1 80.95 165.75 81.35 L166.9 81.6 Q167.55 81.5 168.0 81.05 168.75 80.3 169.0 78.9 169.3 77.0 168.45 75.15 167.65 73.3 166.05 72.3 164.45 71.25 162.45 71.25 160.4 71.2 158.8 72.25 156.9 73.4 155.85 75.7 154.9 77.75 154.8 80.05 154.75 82.4 155.6 84.45 156.5 86.55 158.25 88.1 160.0 89.65 162.15 90.3 164.95 91.15 168.15 90.35 171.05 89.65 173.65 87.7 177.5 84.9 178.8 81.2 179.95 77.95 179.15 74.1 178.4 70.65 176.3 67.35 174.5 64.55 172.4 62.9 170.05 61.05 165.55 59.85 160.75 58.5 157.25 58.7 153.75 58.85 150.35 60.45 147.1 61.95 144.5 64.55 139.45 69.5 137.85 77.05 136.95 80.8 137.45 84.1 137.95 87.15 140.1 91.0 143.85 97.9 148.6 100.9 151.25 102.65 155.4 103.85 162.95 106.1 169.5 105.25 177.25 104.25 182.3 99.45 184.15 97.75 186.0 94.95 189.55 89.45 190.65 83.0 191.8 76.4 190.05 70.3 188.7 66.05 186.35 64.45 L184.5 63.4 182.95 62.05 Q182.2 60.95 181.75 61.3 L182.4 62.45 183.05 63.65 183.3 65.9 Q183.35 66.95 183.75 68.4 L184.4 70.9 Q186.6 79.6 183.1 87.05 181.3 90.85 178.15 93.6 174.85 96.4 170.95 97.45 166.65 98.55 160.9 97.6 154.0 96.5 150.45 93.05 148.8 91.45 146.75 87.95 145.05 84.9 144.75 83.4 144.4 81.65 144.85 78.95 145.8 73.45 149.25 69.8 151.0 67.9 153.3 66.75 155.7 65.55 158.2 65.4 160.8 65.25 164.8 66.35 168.1 67.25 169.5 68.4 171.1 69.65 172.4 72.55 174.25 76.75 173.15 79.35 M111.7 56.8 L112.45 56.25 120.25 53.25 Q126.1 50.7 128.7 49.9 132.6 48.6 139.7 47.3 152.2 45.0 160.95 45.5 172.6 46.1 180.65 51.3 187.2 55.55 191.4 62.85 195.55 69.95 196.55 78.3 197.5 86.5 195.3 94.95 193.2 103.2 188.5 110.2 177.15 127.15 151.2 136.3 139.8 140.4 124.05 143.65 L96.45 148.95 Q93.85 149.45 92.1 150.1 L91.7 150.15 88.8 150.75 85.6 151.0 Q85.4 151.0 85.3 151.1 L82.95 149.5 77.45 144.8 75.85 143.3 Q61.6 131.25 54.6 124.95 42.6 114.25 34.8 105.05 16.9 84.1 15.6 63.75 15.0 55.35 17.3 47.1 19.6 38.75 24.5 32.1 29.55 25.4 36.7 21.3 43.95 17.1 51.75 16.65 61.35 16.15 71.75 21.45 79.55 25.45 89.25 33.65 94.75 38.35 97.5 41.4 L103.15 48.6 Q106.15 52.65 108.3 54.95 108.25 55.65 108.7 56.1 109.2 56.75 110.35 56.7 L111.7 56.8' fill='%23ffffcc' fill-rule='evenodd' stroke='none'/%3E%3Cpath d='M173.15 79.35 Q174.25 76.75 172.4 72.55 171.1 69.65 169.5 68.4 168.1 67.25 164.8 66.35 160.8 65.25 158.2 65.4 155.7 65.55 153.3 66.75 151.0 67.9 149.25 69.8 145.8 73.45 144.85 78.95 144.4 81.65 144.75 83.4 145.05 84.9 146.75 87.95 148.8 91.45 150.45 93.05 154.0 96.5 160.9 97.6 166.65 98.55 170.95 97.45 174.85 96.4 178.15 93.6 181.3 90.85 183.1 87.05 186.6 79.6 184.4 70.9 L183.75 68.4 Q183.35 66.95 183.3 65.9 L183.05 63.65 182.4 62.45 181.75 61.3 Q182.2 60.95 182.95 62.05 L184.5 63.4 186.35 64.45 Q188.7 66.05 190.05 70.3 191.8 76.4 190.65 83.0 189.55 89.45 186.0 94.95 184.15 97.75 182.3 99.45 177.25 104.25 169.5 105.25 162.95 106.1 155.4 103.85 151.25 102.65 148.6 100.9 143.85 97.9 140.1 91.0 137.95 87.15 137.45 84.1 136.95 80.8 137.85 77.05 139.45 69.5 144.5 64.55 147.1 61.95 150.35 60.45 153.75 58.85 157.25 58.7 160.75 58.5 165.55 59.85 170.05 61.05 172.4 62.9 174.5 64.55 176.3 67.35 178.4 70.65 179.15 74.1 179.95 77.95 178.8 81.2 177.5 84.9 173.65 87.7 171.05 89.65 168.15 90.35 164.95 91.15 162.15 90.3 160.0 89.65 158.25 88.1 156.5 86.55 155.6 84.45 154.75 82.4 154.8 80.05 154.9 77.75 155.85 75.7 156.9 73.4 158.8 72.25 160.4 71.2 162.45 71.25 164.45 71.25 166.05 72.3 167.65 73.3 168.45 75.15 169.3 77.0 169.0 78.9 168.75 80.3 168.0 81.05 167.55 81.5 166.9 81.6 L165.75 81.35 Q165.1 80.95 164.65 79.3 164.25 77.75 163.55 77.35 L162.55 77.2 Q162.0 77.3 161.6 77.7 160.9 78.3 160.7 79.6 160.5 81.6 162.05 83.3 163.55 84.95 165.6 84.85 167.45 84.8 170.05 82.95 172.45 81.15 173.15 79.35' fill='%23996666' fill-rule='evenodd' stroke='none'/%3E%3C/g%3E%3C/defs%3E%3C/svg%3E%0A"
        .replaceAll("%23996666", encodeURIComponent(iconColors.main))
        .replaceAll("%23662244", encodeURIComponent(iconColors.dark))
        .replaceAll("%23ffffcc", encodeURIComponent(iconColors.white));

// console.log(iconData);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <link id="favicon" rel="icon" type="image/svg+xml" href={iconData} />
        <title>{frontmatter.display} - betopia's basement</title>

        <meta
            content={frontmatter.display + " - betopia's character storage"}
            property="og:title"
        />
        <meta content={frontmatter.desc} property="og:description" />
        <meta
            content={"/characters/" + frontmatter.id + "/" + sheetID + ".png"}
            property="og:image"
        />
        <meta
            content={frontmatter.embed_color}
            data-react-helmet="true"
            name="theme-color"
        />
        <meta name="twitter:card" content="summary_large_image" />
    </head>
    <Header />
    <body style="background-color: var(--col-bg);" id="body">
        <div style="margin: 23px;">
            <div style="margin: auto; text-align: left; max-width: 40rem;">
                <span
                    id="display-name"
                    style="margin: 0; font-size: 3rem; color: var(--col-main); font-weight: bolder;"
                >
                    {frontmatter.display}
                    <span
                        id="subtitle"
                        style="font-weight: bolder; font-size: 1.2rem; color: var(--col-light);"
                        >{frontmatter.sub}</span
                    >
                </span>
                <hr style="margin-top: 20px;" />
                <p style="margin: 17px;" set:html={frontmatter.desc} />
            </div>
            <div
                style="width: fit-content; height: fit-content; overflow: visible; margin: auto;"
            >
                <div style="margin: 40px; display: flex;">
                    <CharSheet
                        character={frontmatter.id}
                        data={"imgsub: `" +
                            frontmatter.imgsub +
                            "`, colors: [`" +
                            frontmatter.colors.join("`, `") +
                            "`]"}
                    />
                </div>
            </div>
            <div
                style="height: fit-content; max-width: 40rem; margin: auto;"
                id="content"
            >
                <slot>no info LMFAOOO</slot>
            </div>
        </div>
        <div style="margin: auto; display: flex;">
            <button onclick="javascript:history.back()">⬅ back</button>
            <button
                onclick="globalThis.scrollTo({ top: 0, left: 0, behavior: 'smooth' });"
                >⬆ top</button
            >
        </div>
        <br />
    </body>
    <Footer />


</html>
